body{
    background-color: black;
    color: white;
}

.container{
    border: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0px 36%;
    border-radius: 20px;
}

#product_list{
    display: flex;
    flex-direction: column;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#amount_details{
    display: flex;
    justify-content: right;
    /* border: 2px solid white; */
    margin: 10px;
    margin-right: 20px;
    
    
}


